{% extends 'base.html.twig' %}


{% block body %}

    <div class="container">
        <div class="row">
            {% for article in articles %}

                <div class="col-md-4">
                    <h6>{{ article.title }}</h6>
                    {{ article.content | raw }}

                    {{ article.author }}

                </div>

            {% endfor %}
        </div>
    </div>


{% endblock %}
